$purple-lt: #976CC3;
$purple: #6725A8;
$gray: #9797AF;
$orange: #FF3B30;
$orange-lt: #F55123;
$white: #FFFFFF;
$black: #000000;
$lt-gray: rgba(0, 0, 0, 0.2);
$pink: #CB11AB;
$lt2-gray: #F6F6FA;
$lt3-gray: #A0A0A4;
$lt4-gray: #DEDEE1;