.customer {
  width: 55.7rem;
  background-color: $white;
  border-radius: 1rem;
  padding: 1.2rem 1.5rem 1.55rem;
  margin-top: 1rem;

  &__h2 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.01em;
  }

  &__fio {
    display: flex;
    margin-top: 1rem;
    column-gap: 1.3rem;
  }

  &__name {
    width: 21.2rem;
    height: 1.5rem;
    font-size: 1rem;
    padding-bottom: 6px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    margin-top: 8px;
    outline: none;
  }

  &__name::placeholder {
    color: $gray;
  }

  &__error {
    font-size: 0.8rem;
    color: $orange-lt;
    line-height: 1rem;
  }

  &__info {
    font-size: 0.8rem;
    line-height: 1rem;
    letter-spacing: -0.3px;
  }

  &__title {
    font-size: 0.75rem;
    color: $gray;
    line-height: 1rem;
  }

  &__contact {
    display: flex;
    column-gap: 1.3rem;
  }

  &__mail, &__phone, &__inn {
    width: 13.7rem;
    height: 1.5rem;
    font-size: 1rem;
    padding-bottom: 9px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    margin-top: 8px;
    outline: none;
  }

  &__mail::placeholder, &__inn::placeholder {
    color: $gray;
  }

  &__phone::placeholder {
    color: $main;
  }

  &__name-wrap:focus-within &__title {
    visibility: visible;
  }

  //&__name-wrap:hover &__title {
  //  visibility: visible;
  //}

  &__surname-wrap:focus-within &__title {
    visibility: visible;
  }

  &__mail-wrap:focus-within &__title {
    visibility: visible;
  }

  &__phone-wrap:focus-within &__title {
    visibility: visible;
  }

  &__inn-wrap:focus-within &__title {
    visibility: visible;
  }

}

.red {
  color: $orange-lt;
  border-color: $orange-lt;
}

@media all and (max-width: 1399.9px) {
  .customer {
    width: 39.9rem;

    &__name {
      width: 17.6rem;
    }

    &__fio {
      column-gap: 1.5rem;
    }

    &__mail, &__phone, &__inn {
      width: 11.4rem;
    }
  }
}

@media all and (max-width: 1023.9px) {
  .customer {
    width: 90.5vw;
    position: relative;
    z-index: 10;
    padding: 1.1rem 0 1.6rem;
    margin-top: 0.8rem;

    &__bg {
      background-color: #ffffff;
      position: absolute;
      width: 100vw;
      left: -0.9rem;
      border-radius: 1rem;
      z-index: -5;
      top: 0;
      bottom: 0;
    }

    &__h2 {
      font-size: 1.25rem;
      letter-spacing: -0.1px;
    }

    &__name {
      width: 100%;
    }

    &__fio {
      flex-direction: column;
      row-gap: 0.5rem;
      margin-top: 0.2rem;
    }

    &__contact {
      flex-direction: column;
      row-gap: 0.5rem;
      margin-top: 0.6rem;
    }

    &__mail, &__phone, &__inn {
      width: 100%;
    }
  }
}
