.order {
  height: 1400px;
  border-radius: 24px 24px 24px 24px;
  position: relative;
  top: -1.47rem;
  z-index: 5;
  background-color: #f6f6fa;
  padding-top: 18.6px;
  display: flex;
}


//@media all and (max-width: 1023.9px) {
//  .main {
//    top: -2rem;
//  }
//}