.order {
  border-radius: 24px 24px 24px 24px;
  position: relative;
  top: -25px;
  z-index: 5;
  background-color: #f6f6fa;
  padding-top: 1.16rem;
  padding-bottom: 3.15rem;
}


@media screen and (max-width: 1023.9px) {
  .order {
    top: -1.57rem;
  }
}
