@import "~normalize.css";
//@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');
@import "seg_regular";
@import "seg_semibold";
@import "seg_bold";

$special-color: #976cc3;
$gray: #9797AF;
$orange: #FF3B30;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #6725A8;
  color: #000000;
}

h1, h2, h3 {
  margin: 0;
}

.container {
  width: 1400px;
  padding: 0 1.5rem 0 1.5rem;
  margin: 0 auto;
}

@import "header";
@import "order";
@import "cart";
@import "delivery";

.invisible {
  display: none;
}

.gray {
  color: $gray;
  font-weight: 400;
}

@media all and (max-width: 1399.9px) {
  .container {
    width: 1024px;
  }
}

@media all and (max-width: 1023.9px) {
  .container {
    width: 100vw;
    padding: 0 0.9rem 0 0.9rem;
  }
}